*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-width: 320px;

  font-family: $font-verdana;
  font-size: $font-size;
  line-height: 1.71429;

  background: $white;
  color: $black;
}

h1,
h2 {
  font-size: $font-size--title;
  line-height: 1.25;

  color: $black;

  @include respond-to("medium") {
    font-size: ($font-size--title + 16px);
  }

  @include respond-to("large") {
    font-size: ($font-size--title + 26px);
    line-height: 1.14;
  }
}

h3 {
  font-size: $font-size;
  line-height: 1.5;
  font-weight: 700;

  color: $black;

  @include respond-to("medium") {
    font-size: ($font-size + 2px);
  }
}

p {
  font-size: $font-size--text;
  font-family: $font-open-sans;

  color: $gray--darken;

  @include respond-to("medium") {
    font-size: ($font-size--text + 2px);
    line-height: 1.875;
  }
}

label {
  font-size: $font-size;
  line-height: 1.125;
  font-weight: 700;
  font-family: $font-verdana;
  vertical-align: middle;

  color: $black;

  cursor: pointer;

  @include respond-to("medium") {
    font-size: ($font-size + 2);
  }
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: $font-size;
  line-height: 1.125;

  color: $gray--darken;

  @include respond-to("medium") {
    font-size: ($font-size + 2);
  }
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}


/// Если не работает js
/*.no-js .main-nav__list {
  display: block !important;
}*/
