body {
  background: $white;
  color: $black;
}

label {
  font-size: $fs-main;
  line-height: $lh-main - 6;
  font-weight: 700;
  font-family: $font-verdana;
  vertical-align: middle;

  color: $black;

  cursor: pointer;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: $fs-main;
  line-height: $lh-main - 6;
  font-family: $font-verdana;

  color: $gray--darken;
}
