@mixin container {
  width: 81.25%;
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 30px;

  @include respond-to("medium") {
    width: 94.8%;
  }

  @include respond-to("large") {
    width: 96.6%;
  }
}

@mixin clearfix {
  &::after {
    content: "";

    display: table;
    clear: both;
  }
}

@mixin wavy-line {
  &::after {
    content: "";

    position: absolute;
    bottom: -6px;
    right: 0;
    left: 0;

    display: block;
    height: 6px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-size: auto 6px;

    @include respond-to("medium") {
      height: 17px;
      background-size: auto 17px;
    }

    @include respond-to("large") {
      height: 23px;
      background-size: auto 23px;
    }
  }
}

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  } @else {
    @error "Не указано значение для `#{$breakpoint}`. "
         + "Пожалуйста, убедитесь, что точка остановки объявлена в карте `$breakpoints`.";
  }
}
