$white:                       #ffffff;
$black:                       #000000;

$green:                       #63d1bb;
$green--dark:                 #56c3b2;

$gray--light:                 #f1f1f1;
$gray:                        #ececec;
$gray--dark:                  #e5e5e5;
$gray--darken:                #444444;

$border-main:                 1px solid $gray;
$border-second:               1px solid $gray--dark;
$border-button:               2px solid $gray--darken;

$fs-main:                     16px;
$lh-main:                     24px;

$font-open-sans:              "Open Sans", "Arial", sans-serif;
$font-verdana:                "Verdana", "Arial", sans-serif;
$font-tahoma:                 "Tahoma", "Arial", sans-serif;
