$breakpoints: (
  "medium-only":              (max-width: 767px),
  "medium":                   (min-width: 768px),
  "large":                    (min-width: 1150px),

  "retina":                   (min-resolution: 144dpi) (min-resolution: 1.5dppx),
);

$white:                       #ffffff;
$black:                       #000000;

$green:                       #63d1bb;
$green--dark:                 #56c3b2;

$gray-210:                    #d3d2d2;
$gray--lighten:               #f9f9f9;
$gray--light:                 #f1f1f1;
$gray:                        #ececec;
$gray--dark:                  #e5e5e5;
$gray--darken:                #444444;

$border-main:                 1px solid $gray;
$border-second:               1px solid $gray--dark;
$border-button:               2px solid $gray--darken;

$font-size--text:             14px;
$font-size:                   16px;
$font-size--button:           18px;
$font-size--title:            24px;

$font-open-sans:              "Open Sans", "Arial", sans-serif;
$font-verdana:                "Verdana", "Arial", sans-serif;
$font-tahoma:                 "Tahoma", "Arial", sans-serif;
