.about {

  @include respond-to("medium") {
    margin-bottom: 30px;
  }

  @include respond-to("large") {
    margin-bottom: 35px;
  }

  &__container {
    @include container;

    padding: 0;

    @include respond-to("medium") {
      padding: 0 30px;
    }
  }

  &__title {
    margin: 0;
    padding: 35px 0;
    padding-bottom: 30px;

    @include respond-to("medium") {
      padding-top: 55px;
      padding-bottom: 50px;
    }

    @include respond-to("large") {
      padding-top: 60px;
      padding-left: 175px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @include respond-to("medium") {
      display: flex;
      flex-wrap: wrap;
    }

    @include respond-to("large") {
      width: 700px;
      margin: 0 auto;
    }
  }

  &__item {
    position: relative;
    padding-top: 55px;
    padding-bottom: 27px;
    font-size: $font-size;
    line-height: 1.25;
    font-weight: 700;
    color: $black;

    @include respond-to("medium") {
      width: 50%;
      padding-bottom: 50px;

      font-size: $font-size + 4;
    }

    @include respond-to("large") {
      padding-right: 20px;
    }

    &--ecology {
      order: 1;
    }

    &--knitting {
      order: 2;
    }

    &--norse-style {
      order: 3;
    }

    &--support {
      order: 4;
    }

    &--heart {
      order: 5;
    }

    &--gift-box {
      order: 6;
    }
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    fill: $green;

    &--ecology {
      width: 32px;
      height: 37px;
    }

    &--norse-style {
      width: 47px;
      height: 27px;
    }

    &--heart{
      width: 34px;
      height: 27px;
    }

    &--knitting {
      width: 35px;
      height: 34px;
    }

    &--support {
      width: 55px;
      height: 23px;
    }

    &--gift-box {
      width: 33px;
      height: 32px;
    }
  }
}
