.about {
  @include respond-to("medium") {
    margin-bottom: 30px;
  }

  @include respond-to("large") {
    margin-bottom: 35px;
  }

  &__container {
    @include container;

    padding: 0;

    @include respond-to("medium") {
      padding: 0 30px;
    }
  }

  &__title {
    margin: 0;
    padding: 35px 0;
    padding-bottom: 30px;

    @include respond-to("medium") {
      padding-top: 55px;
      padding-bottom: 50px;
    }

    @include respond-to("large") {
      padding-top: 60px;
      padding-left: 175px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;

    list-style: none;

    @include respond-to("medium") {
      column-count: 2;
      column-width: 50%;
      column-gap: 0;
    }

    @include respond-to("large") {
      width: 700px;
      margin: 0 auto;
    }
  }

  &__item {
    position: relative;

    padding-top: 55px;
    padding-bottom: 27px;

    font-size: $font-size;
    line-height: 1.25;
    font-weight: 700;

    color: $black;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      width: 55px;
      height: 45px;
    }

    &--ecology::before {
      background: url("../img/icon-feature-1.svg") no-repeat center;
    }

    &--norse-style::before {
      background: url("../img/icon-feature-3.svg") no-repeat center;
    }

    &--heart::before {
      background: url("../img/icon-feature-5.svg") no-repeat center;
    }

    &--knitting::before {
      background: url("../img/icon-feature-2.svg") no-repeat center;
    }

    &--support::before {
      background: url("../img/icon-feature-4.svg") no-repeat center;
    }

    &--gift-box::before {
      background: url("../img/icon-feature-6.svg") no-repeat center;
    }

    @include respond-to("medium") {
      padding-bottom: 50px;

      font-size: $font-size + 4;

      &--ecology {
        padding-right: 34%;
      }

      &--norse-style {
        padding-right: 24%;
      }

      &--heart{
        padding-right: 30%;
      }

      &--knitting {
        padding-right: 19%;
      }

      &--support {
        padding-right: 3%;
      }

      &--gift-box {
        padding-right: 23%;
      }
    }

    @include respond-to("large") {
      padding-right: 20px;
    }
  }
}
