.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 9px;

  font-size: $font-size--button;
  font-weight: 700;
  font-family: $font-open-sans;
  text-transform: uppercase;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;

  border: $border-button;

  color: $gray--darken;
  background: transparent;

  outline: none;

  @include respond-to("large") {

    &:hover {
      background: $gray--darken;
      color: $white;
    }

    &:active {
      color: rgba(250, 250, 250, 0.3);
    }
  }
}
