.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 12px;

  font-size: $font-size--button;
  font-weight: 700;
  font-family: $font-open-sans;
  text-transform: uppercase;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;

  border: $border-button;

  color: $gray--darken;
  background: transparent;

  outline: none;
}
