.button {
  display: inline-block;
  padding: 16px 10px;
  font-size: $font-size--button;
  line-height: 1;
  font-weight: 700;
  font-family: $font-open-sans;
  text-transform: uppercase;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  border: $border-button;
  color: $gray--darken;
  background: transparent;
  outline: none;

  @include respond-to("medium") {

    &:hover {
      background: $gray--darken;
      color: $white;
    }

    &:active {
      color: rgba(250, 250, 250, 0.3);
    }
  }
}
