/* Здесь мне не понятно почему catalog-item-ы не становятся одинаковой высоты на десктопе, они ведь флекс-элементы. Задавать им минимальную высоту?
*/
.catalog-item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  @include respond-to("medium") {
    display: flex;

    margin-bottom: 54px;
  }

  @include respond-to("large") {
    width: 315px;
    margin-bottom: 0;

    flex-direction: column;
  }

  &__photo {
    width: 260px;
    height: 195px;

    background: $gray--light;

    @include respond-to("medium") {
      width: 50%;
      height: 334px;
    }

    @include respond-to("large") {
      width: 100%;
      height: 462px;
    }
  }

  &__description {
    padding-left: 27px;
    padding-right: 27px;

    border: $border-main;

    @include respond-to("medium") {
      width: 50%;

      display: flex;
      flex-direction: column;
    }

    @include respond-to("large") {
      width: 100%;
      justify-content: center;
    }
  }

  &__name {
    margin: 0;
    padding-top: 27px;
    padding-bottom: 5px;

    @include respond-to("medium") {
      padding-top: 25px;
    }

    @include respond-to("large") {
    }

    a {
      text-decoration: none;

      color: $black;
    }
  }

  &__detail {
    padding-bottom: 23px;

    font-size: $font-size--text;
    font-family: $font-open-sans;
    line-height: 2;

    color: $gray--darken;

    @include respond-to("medium") {
      font-size: ($font-size--text + 1);
    }

    @include respond-to("large") {
      padding-bottom: 40px;
    }
  }

  &__price {
    padding-top: 21px;
    padding-bottom: 25px;

    border-top: $border-main;

    display: flex;
    justify-content: space-between;

    @include respond-to("medium") {
      margin-top: auto;
    }

    @include respond-to("large") {
    }
  }

  &__number {
    font-size: $font-size--text;
    font-weight: 700;

    @include respond-to("medium") {
      font-size: ($font-size--text + 2);
    }
  }

  &__icon-basket {
    display: inline-block;
    width: 20px;
    height: 20px;

    vertical-align: middle;
    font-size: 0;

    background: url("../img/icon-cart.svg") no-repeat center;
  }
}
