.catalog-item {
  margin-bottom: 30px;

  @include respond-to("medium") {
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;
  }

  @include respond-to("large") {
    flex-direction: column;
    width: 315px;
    margin-bottom: 60px;
  }

  &__photo {
    width: auto;
    height: 195px;

    background: $gray--light;

    @include respond-to("medium") {
      width: 50%;
      height: 334px;
    }

    @include respond-to("large") {
      width: 100%;
      height:462px;
    }
  }

  &__description {
    padding-left: 27px;
    padding-right: 27px;

    border: $border-main;

    @include respond-to("medium") {
      display: flex;
      flex-direction: column;
      width: 50%;
    }

    @include respond-to("large") {
      width: 100%;
      flex-grow: 1;
    }
  }

  &__name {
    margin: 0;
    padding-top: 27px;
    padding-bottom: 5px;

    a {
      text-decoration: none;

      color: $black;
    }

    @include respond-to("medium") {
      padding-top: 25px;
    }
  }

  &__detail {
    padding-bottom: 23px;

    font-size: $font-size--text;
    font-family: $font-open-sans;
    line-height: 2;

    color: $gray--darken;

    @include respond-to("medium") {
      font-size: ($font-size--text + 1);
    }

    @include respond-to("large") {
      padding-bottom: 15px;
    }
  }

  &__price {
    display: flex;
    justify-content: space-between;
    padding-top: 21px;
    padding-bottom: 25px;

    border-top: $border-main;

    @include respond-to("medium") {
      margin-top: auto;
    }

    @include respond-to("large") {
      padding-top: 20px;
    }
  }

  &__number {
    font-size: $font-size--text;
    font-weight: 700;

    @include respond-to("medium") {
      font-size: ($font-size--text + 2);
    }
  }

  &__icon-basket {
    display: inline-block;
    width: 20px;
    height: 20px;

    vertical-align: middle;
    font-size: 0;

    background: url("../img/icon-cart.svg") no-repeat center;
  }
}
