.catalog {
  margin-bottom: 30px;

  @include respond-to("medium") {
    margin-bottom: 50px;
  }

  @include respond-to("large") {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
  }
}
