.catalog {
  margin-bottom: 30px;
}

@include respond-to("medium") {
  .catalog {
    margin-bottom: 53px;
  }
}

@include respond-to("large") {
  .catalog {
    font-size: 0;
    margin-bottom: 55px;
  }
}
