.contacts {
  margin-bottom: 40px;

  text-align: center;

  @include respond-to("medium") {
    margin-bottom: 55px;
  }

  @include respond-to("large") {
    padding-top: 70px;
  }

  &__container {

    @include respond-to("large") {
      @include container;

      display: flex;
      flex-wrap: wrap;
    }
  }

  &__wrapper {
    @include container;

    padding: 0;
    margin-bottom: 35px;

    @include respond-to("medium") {
      padding: 0 30px;
      margin-bottom: 50px;
    }

    @include respond-to("large") {
      width: 525px;
      padding: 0;
      padding-left: 175px;
      margin: 0;

      text-align: left;
    }
  }

  &__title {
    margin: 0;
    padding-top: 43px;
    padding-bottom: 25px;

    text-align: left;

    @include respond-to("medium") {
      position: relative;

      padding-top: 65px;
      margin-bottom: 20px;
    }

    @include respond-to("large") {
      padding-top: 70px;
    }
  }

  &__icon-flag {
    display: none;

    @include respond-to("medium") {
      position: absolute;
      bottom: 10px;
      right: 0;

      display: inline-block;
      width: 50px;
      height: 82px;

      vertical-align: middle;
    }

    @include respond-to("large") {
      left: -114px;
    }
  }

  &__list {

    @include respond-to("medium") {
      display: flex;
      justify-content: space-around;
    }

    @include respond-to("large") {
      flex-direction: column;
    }
  }

  &__items {
    margin: 0;
    margin-bottom: 28px;

    line-height: 2.1428;

    text-align: left;

    display: flex;
    justify-content: space-between;

    &:last-child {
      margin-bottom: 0;
    }

    @include respond-to("medium") {
      width: 50%;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 0
    }

    @include respond-to("large") {
      width: auto;
      margin-bottom: 25px;
    }
  }

  &__label {

    @include respond-to("medium") {
      padding-right: 25px;
    }
  }

  &__email {
    width: 185px;
    padding-bottom: 0px;

    text-decoration: none;

    color: $gray--darken;

    border-bottom: 2px solid $green;
  }

  &__address {
    width: 185px;

    @include respond-to("medium") {
      width: 220px;
    }
  }

  &__map {
    min-height: 455px;
    width: 100%;
    margin-bottom: 37px;

    text-align: center;

    background: $gray;

    img {
      display: block;
      margin: 0 auto;
    }

    @include respond-to("medium") {
      margin-bottom: 55px;
    }

    @include respond-to("large") {
      width: 525px;
      margin-bottom: 0;
    }
  }

  &__button {
    width: 260px;

    @include respond-to("medium") {
      width: 230px;
    }

    @include respond-to("large") {
      transform: translateY(-52px);
      margin-left: 175px;
    }
  }
}
