.contacts {

  &__container {
    width: 260px;
    padding: 0 30px;
    margin: 0 auto;
  }

  &__title {
    margin: 0;
    padding-top: 45px;
    padding-bottom: 25px;
  }

  &__items {
    margin: 0;
    margin-bottom: 30px;

    line-height: 2.1428;
  }

  &__email {
    padding-bottom: 5px;

    text-decoration: none;

    border-bottom: 2px solid $green;
  }

  &__map {
    min-height: 457px;
    width: 100%;
    margin-bottom: 40px;

    text-align: center;

    background: $gray;

    img {
      width: 320px;
      height: 457px;
    }
  }

  &__button {
    padding-left: 53px;
    padding-right: 53px;
    margin-bottom: 40px;
  }
}
