.form-order {
  text-align: center;
  margin-bottom: 60px;

  @include respond-to("medium") {
    margin-bottom: 50px;
  }

  @include respond-to("large") {
    margin-bottom: 95px;
  }

  &__container {
    @include container;

    padding: 0;

    @include respond-to("medium") {
      padding: 0 30px;

      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    @include respond-to("large") {
      justify-content: flex-start;
    }
  }

  &__group {
    padding: 0;
    padding-bottom: 20px;

    text-align: left;

    &--bg-gray {

      @include respond-to("medium") {
        padding-top: 5px;
        padding-bottom: 5px;

        background: $gray;
      }
    }

    &--padding {
      @include respond-to("medium") {
        padding-bottom: 30px;
      }
    }
  }

  &__wrapper {
    position: relative;
    padding-top: 25px;
    padding-bottom: 40px;

    @include respond-to("medium") {
      width: 100%;
      padding-top: 50px;
      // padding-bottom: 60px;
      padding-bottom: 30px;
      padding-left: 50px;
    }

    @include respond-to("large") {
      padding-top: 50px;
      padding-left: 0;
      width: 75%;
      max-width: 1000px;
    }

    &--phone,
    &--email {
      padding-top: 0px;
      padding-bottom: 20px;
    }

    &--extra {
      padding-bottom: 0;

      @include respond-to("medium") {
        padding-top: 65px;
        padding-bottom: 60px;
      }

      @include respond-to("large") {
        padding-top: 65px;
        padding-bottom: 90px;
      }
    }

    &--phone {

      @include respond-to("medium") {
        padding-top: 60px;
        padding-bottom: 20px;
      }

      @include respond-to("large") {
        padding-top: 60px;
      }
    }

    &--email {

      @include respond-to("medium") {
        padding-top: 0px;
      }

      @include respond-to("large") {
        padding-top: 0;
      }
    }
  }

  &__title {
    position: relative;
    z-index: 2;
    background: $white;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;

    font-size: $font-size;
    line-height: 1;
    font-weight: 700;
    font-family: $font-open-sans;
    text-transform: uppercase;
    vertical-align: middle;

    color: $green;

    &::after {
      content: "";

      position: absolute;
      top: 50%;
      right: 0;

      width: 80%;
      height: 1px;
      z-index: 1;

      background: $green;
    }

    @include respond-to("medium") {
      width: 21%;
      background: transparent;
      padding-top: 70px;

      &::after {
        content: none;
      }
    }

    @include respond-to("large") {
      width: 17%;
      padding-left: 0;
      text-align: center;
    }

    &--email {

      @include respond-to("medium") {
        padding-top: 15px;
      }
    }
  }

  &__small-text {
    display: none;

    font-size: $font-size;
    font-family: $font-open-sans;

    @include respond-to("medium") {
      display: block;
      padding: 12px 0;
    }

    @include respond-to("large") {
      margin-left: 190px;
    }
  }

  &__button {
    padding-left: 49px;
    padding-right: 49px;
    margin-top: 20px;

    @include respond-to("medium") {
      padding-left: 34px;
      padding-right: 34px;
      margin-top: 0;
      margin-left: 0;
    }

    @include respond-to("large") {
      margin-left: 17%;
    }
  }
}
