.form-radio {
  margin-bottom: 20px;

  input[type="radio"] {
    display: none;
  }

  input[type="radio"] + label {
    position: relative;

    display: inline-block;
    padding: 10px;
    padding-left: 63px;
  }

  input[type="radio"] + label::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 38px;
    height: 38px;

    border: $border-button;
    border-radius: 50%;
  }

  input[type="radio"]:checked + label::after {
    content: "";

    position: absolute;
    top: 14px;
    left: 13px;

    display: block;
    width: 15px;
    height: 15px;

    border-radius: 50%;

    background: $green;
  }

  /// Плохой вариант наверное...

  &:first-of-type input[type="radio"] + label::before {
    top: 5px;
  }

  &:first-of-type input[type="radio"] + label::after {
    top: 18px;
  }
}
