.form-text {
  position: relative;

  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0px;
  }

  @include respond-to("medium") {
    display: flex;
    align-items: center;
    width: 100%;

    margin-bottom: 30px;
  }

  @include respond-to("large") {
    width: 700px;
    margin-bottom: 35px;
  }

  label {
    display: block;

    @include respond-to("medium") {
      margin-right: 25px;
      line-height: 1;
    }
  }

  &__input {

    width: 100%;
    padding-top: 17px;
    padding-bottom: 15px;

    font-family: $font-verdana;
    font-size: ($font-size + 2);
    background: transparent;

    border:none;
    border-bottom: 2px solid $gray--darken;

    outline: none;

    &:focus {
      border-color: $color-success;
      font-size: ($font-size + 2);
    }

    &:focus + .form-text__icon {
      fill: $color-success;
    }

    &:invalid:not(:placeholder-shown) {
      border-color: $color-error;
    }

    &:invalid:not(:placeholder-shown) + .form-text__icon {
      fill: $color-disabled;
    }

    @include respond-to("medium") {
      padding-top: 9px;
      padding-bottom: 13px;
      padding-left: 17px;

      &:hover {
        border-color: $color-success;
      }

      &:hover + .form-text__icon {
        fill: $color-success;
      }
    }

    @include respond-to("large") {
      width: 63%;
      flex-grow: 1;
    }

    &--textarea {
      height: 150px;
      padding: 15px;

      border: $border-button;

      @include respond-to("medium") {
        width: 100%;
        height: 140px;
      }

      @include respond-to("large") {
        width: 80%;
      }
    }
  }

  &__icon {
    position: absolute;

    top: 15px;
    right: 5px;

    fill: $gray-210;

    @include respond-to("medium") {
      top: 5px;
      right: 20px;
    }

    @include respond-to("large") {
      right: 10px;
    }
  }
}
