.form-text {
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0px;
  }

  @include respond-to("medium") {
    display: flex;
    align-items: center;
    width: 100%;

    margin-bottom: 30px;
  }

  @include respond-to("large") {
    width: 700px;
  }

  label {
    display: block;

    @include respond-to("medium") {
      margin-right: 25px;
    }
  }

  &__input {
    width: 100%;
    padding-top: 18px;
    padding-bottom: 16px;

    font-size: $font-size;
    background: transparent;

    border:none;
    border-bottom: 2px solid $gray--darken;

    outline: none;

    @include respond-to("medium") {
      padding-top: 10px;
      padding-bottom: 14px;
      padding-left: 17px;
    }

    @include respond-to("large") {
      width: 63%;
      flex-grow: 1;
    }

    &--phone {
      padding-right: 40px;

      background: url("../img/icon-phone.svg") no-repeat right 0.5em center;

      @include respond-to("medium") {
        width: 100%;
        padding-right: 60px;

        background-position: right 1.5em bottom 1em;
      }

      @include respond-to("large") {
        width: 80%;
      }
    }

    &--email {
      padding-right: 40px;

      background: url("../img/icon-mail.svg") no-repeat right 0.25em center;

      @include respond-to("medium") {
        width: 100%;
        padding-right: 60px;

        background-position: right 1.5em bottom 0.5em;
      }

      @include respond-to("large") {
        width: 80%;
      }
    }

    &--textarea {
      height: 150px;
      padding: 15px;

      border: $border-button;

      @include respond-to("medium") {
        width: 100%;
        height: 140px;
      }

      @include respond-to("large") {
        width: 80%;
      }
    }
  }
}
