.form-tel {
  margin-bottom: 20px;

  input[type="tel"] {
    box-sizing: border-box;
    width: 260px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 35px;

    border:none;
    border-bottom: 2px solid $gray--darken;

    background: url("../img/icon-phone.svg") no-repeat 97% 40%;

    outline: none;
  }
}
