.form-text {
  margin-bottom: 20px;

  label {
    display: block;
    margin-bottom: 7px;
  }

  input[type="text"] {
    box-sizing: border-box;
    width: 260px;
    padding-top: 15px;
    padding-bottom: 15px;

    border:none;
    border-bottom: 2px solid $gray--darken;

    outline: none;
  }
}
