.form-checkbox {
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0px;
  }

  @include respond-to("medium") {
    display: inline-block;
    width: 46%;
    margin-right: 25px;

    vertical-align: top;

    &:nth-child(even) {
      margin-right: 0;
    }

    &:nth-child(n + 5) {
      margin-bottom: 0;
    }
  }

  @include respond-to("large") {
    width: 230px;

    &:nth-child(even) {
      margin-right: 25px;
    }

    &:nth-child(n + 4) {
      margin-bottom: 0;
    }
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + label {
    position: relative;

    display: inline-block;
    line-height: 39px;
    padding-left: 63px;

    vertical-align: top;

    @include respond-to("medium") {
      padding-left: 80px;

      line-height: 52px;
    }

    @include respond-to("large") {
      &:hover {

      &::before {
        border-color: $color-success;
      }
    }
    }
  }

  input[type="checkbox"]:disabled + label::before {
    border-color: $color-disabled;
  }

  input[type="checkbox"] + label::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 40px;
    height: 40px;

    border: $border-button;

    @include respond-to("medium") {
      width: 54px;
      height: 52px;
    }
  }

  input[type="checkbox"]:checked + label::after {
    content: "";

    position: absolute;
    top: 5px;
    left: 8px;

    display: block;
    width: 25px;
    height: 25px;

    background: url("../img/icon-tick.svg") no-repeat center;

    @include respond-to("medium") {
      top: 10px;
      left: 15px;
    }
  }
}
