.form-text {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0px;
  }

  @include respond-to("medium") {
    font-size: 0;

    margin-bottom: 25px;
  }

  label {
    padding-top: 5px;
    padding-bottom: 4px;
    display: block;

    @include respond-to("medium") {
      display: inline-block;
      margin-right: 25px;
      width: 20%;

      vertical-align: middle;
    }

    @include respond-to("large") {
      width: 14%;
    }
  }

  &__input {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 17px;

    font-size: $font-size;
    background: transparent;

    border:none;
    border-bottom: 2px solid $gray--darken;

    outline: none;

    @include respond-to("medium") {
      display: inline-block;
      width: 75%;
      padding-left: 17px;

      vertical-align: middle;
    }

    @include respond-to("large") {
      width: 78%;
    }

    &--phone {
      padding-right: 40px;

      background: url("../img/icon-phone.svg") no-repeat right 0.5em center;

      @include respond-to("medium") {
        width: 100%;
        padding-right: 60px;

        background-position: right 1.5em bottom 1em;
      }

      @include respond-to("large") {
        width: 96%;
      }
    }

    &--email {
      padding-right: 40px;

      background: url("../img/icon-mail.svg") no-repeat right 0.25em center;

      @include respond-to("medium") {
        width: 100%;
        padding-right: 60px;

        background-position: right 1.5em bottom 0.5em;
      }

      @include respond-to("large") {
        width: 96%;
      }
    }

    &--textarea {
      height: 150px;
      padding: 15px;

      border: $border-button;

      @include respond-to("medium") {
        width: 100%;
        height: 140px;
      }

      @include respond-to("large") {
        width: 96%;
      }
    }
  }
}
