.main-nav {
  width: 100%;
  text-align: left;

  position: relative;
  z-index: 2;

  @include respond-to("medium-only") {
    &--closed .main-nav__list {
      transform: translateY(-394px);
      height: 0;
      transition: all 0.4s;
    }
  }

  @include respond-to("medium-only") {
    &--opened .main-nav__list {
      transform: translateY(0);

      transition: all 0.4s;
    }
  }

  @include respond-to("medium-only") {
    &--no-js .main-nav__buns {
      display: none;
    }

    &--no-js .main-nav__list {
      transform: translateY(0);
      height: auto;
    }
  }

  @include respond-to("medium") {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @include respond-to("large") {
    flex-wrap: nowrap;
  }

  &__list {
    padding: 0;
    margin: 0;

    list-style: none;

    @include respond-to("medium") {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;

      width: 60%;

      order: 2;

      li {
        border: 0;
      }
    }

    @include respond-to("large") {
      order: 1;
      width: 420px;

      li:nth-child(2) {
        border-left: $border-main;
      }
    }

    &--dashboard {

      @include respond-to("medium") {
        order: 1;
        width: 350px;

        li {
          border-left: $border-main;
        }
      }

      @include respond-to("large") {
        order: 3;
        width: 350px;
      }
    }
  }

  &__item {
    border-bottom: $border-main;

    @include respond-to("medium") {
      border: none;
    }

    &--sub-menu {
      display: none;

      @include respond-to("large") {
        display: inline-block;

        vertical-align: top;
      }
    }
  }

  &__link {
    display: inline-block;
    width: 100%;
    padding: 27px 0;
    padding-left: 75px;

    font-size: $font-size;
    line-height: 1.5;
    font-weight: 700;
    text-decoration: none;
    vertical-align: bottom;

    color: $black;

    @include respond-to("medium") {
      padding-top: 32px;
      padding-bottom: 32px;
    }

    @include respond-to("large") {

      &:hover {
        color: rgba(0, 0, 0, 0.5);
      }

      &:active {
        color: rgba(0, 0, 0, 0.3);
      }

      &:hover .icon {
        fill: $color-success;
      }

      &:active .icon {
        opacity: 0.3;
      }
    }

    &--label {
      padding-top: 20px;
      padding-bottom: 19px;

      @include respond-to("medium") {
        padding-top: 35px;
        padding-right: 31px;
        padding-bottom: 27px;
        padding-left: 31px;
      }
    }

    &--cart {
      position: relative;
    }

    &--catalog,
    &--knitting {

      @include respond-to("medium") {
        padding-top: 20px;
        padding-right: 34px;
        padding-bottom: 20px;
        padding-left: 0;

        font-size: $font-size--text;
      }

      @include respond-to("large") {
        padding-top: 32px;
        padding-bottom: 32px;

        font-size: $font-size;
      }
    }

    &--new,
    &--sale {

      @include respond-to("large") {
        padding-top: 20px;
        padding-right: 34px;
        padding-bottom: 20px;
        padding-left: 0;

        font-size: $font-size--text;
      }
    }

    &--knitting {

      @include respond-to("large") {
        padding-left: 34px;
      }
    }

    &--sale {

      @include respond-to("large") {
        padding-left: 25px;
      }
    }
  }

  &__icon-cart {
    position: absolute;
    top: 30px;
    left: 30px;

    width: 20px;
    height: 20px;
    fill: $gray-210;

    @include respond-to("medium") {
      top: 33px;
    }
  }

  &__search-form {
    position: relative;
    z-index: 3;
    background: $white;
  }

  &__icon-search {
    position: absolute;
    top: 30px;
    left: 30px;

    width: 20px;
    height: 20px;

    fill: $gray-210;

    @include respond-to("medium") {
      position: static;
    }
  }

  &__input {
    display: inline-block;
    vertical-align: top;
    width: 85%;
    padding: 10px 0;

    background: $white;

    outline: none;
    border: none;

    &::-webkit-input-placeholder {
      color: $black;
      opacity: 1;
  }

    @include respond-to("medium") {
      position: absolute;
      width: 1px;
      padding: 0;
      height: 88px;
      top: 0;
      right: 83px;

      font-weight: 400;

      transition: width 0.5s;

      &:focus {
        width: 170px;
        padding: 0;
        padding-left: 10px;
        border: 0;
        border-left: $border-main;
      }
    }

    @include respond-to("large") {

      &:focus {
        width: 230px;
      }
    }
  }

  &__buns {
    position: absolute;
    z-index: 2;
    top: 14px;
    right: 5px;
    padding: 25px;
    display: flex;
    align-items: center;

    @include respond-to("medium") {
      display: none;
    }
  }

  &__toggle {
    position: relative;
    width: 20px;
    height: 2px;
    background: $black;

    padding: 0;

    transition: background 0.4s ease-in-out 0s;

    border: 0;
    outline: 0;

    &::before,
    &::after {
      content: "";

      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background: $black;

      transition: transform 0.4s ease-in-out 0s;
    }

    &::before {
      top: -6px;
    }

    &::after {
      bottom: -6px;
    }

    &--show {
      background: transparent;

      &::before {
        transform: translate3d(0, 6px, 0) translateZ(0) scale(1, 1) rotate(45deg);
      }

      &::after {
        transform: translate3d(0, -6px, 0) translateZ(0) scale(1, 1) rotate(-45deg);
      }
    }
  }
}
