.main-nav {
  position: relative;

  text-align: left;

  &__list {
    display: none;
    padding: 0;
    margin: 0;

    list-style: none;

    &--visible {
      display: block;
    }
  }

  &__item {
    border-bottom: $border-main;

    a {
      display: inline-block;
      box-sizing: border-box;
      width: 100%;
      padding: 30px 0;
      padding-left: 75px;

      font-size: $font-size--main;
      line-height: 1.5;
      font-weight: 700;
      text-decoration: none;
      vertical-align: top;

      color: $black;
    }
  }

  &__toggle {
    position: absolute;
    top: -50px;
    right: 30px;
    z-index: 1;

    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;

    user-select: none;

    > span {
      position: relative;

      display: inline-block;
      width: 100%;
      height: 2px;

      vertical-align: bottom;

      background: $black;

      transition: background 0.3s 0.3s;

      &::before,
      &::after {
        content: "";

        position: absolute;
        left: 0;

        width: 100%;
        height: 2px;

        background: $black;

        transform-origin: 50% 50%;
        transition: top 0.3s 0.6s, transform 0.3s;

      }

      &::before {
        top: 6px;
      }

      &::after {
        top: -6px;
      }
    }

    &--close {
      > span {
        transition: background 0.3s;
        background: transparent;

        &:before,
        &:after {
          transition: top 0.3s, transform 0.3s 0.5s;
          top: 0;
        }

        &:before {
          transform: rotate3d(0, 0, 1, 45deg);
        }

        &:after {
          transform: rotate3d(0, 0, 1, -45deg);
        }
      }
    }
  }
}
