.main-nav {
  position: relative;

  text-align: left;

  &__list {
    display: none;
    padding: 0;
    margin: 0;

    list-style: none;

    &--visible {
      display: block;
    }
  }

  &__item {
    border-bottom: $border-main;

    &--sub-menu {
      display: none;
    }
  }

  &__link {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 27px 0;
    padding-left: 75px;

    font-size: $font-size;
    line-height: 1.5;
    font-weight: 700;
    text-decoration: none;
    vertical-align: bottom;

    color: $black;

    &--label {
      padding-top: 20px;
      padding-bottom: 19px;
    }

    &--cart {
      position: relative;

      &::before {
        content: "";

        position: absolute;
        top: 30px;
        left: 30px;

        width: 20px;
        height: 20px;
        background: url("../img/icon-cart.svg") no-repeat center;
      }
    }
  }

  &__search-form {
    position: relative;
  }

  &__icon-search {
    position: absolute;
    top: 30px;
    left: 30px;

    width: 20px;
    height: 20px;
  }

  &__input {
    display: inline-block;
    vertical-align: top;
    width: 85%;
    padding: 10px 0;

    background: transparent;

    outline: none;
    border: none;

    &::-webkit-input-placeholder {
      color: $black;

      opacity: 1;
    }
  }

  &__toggle {
    position: absolute;
    top: -50px;
    right: 30px;
    z-index: 1;

    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;

    user-select: none;

    > span {
      position: relative;

      display: inline-block;
      width: 100%;
      height: 2px;

      vertical-align: bottom;

      background: $black;

      transition: background 0.3s 0.3s;

      &::before,
      &::after {
        content: "";

        position: absolute;
        left: 0;

        width: 100%;
        height: 2px;

        background: $black;

        transform-origin: 50% 50%;
        transition: top 0.3s 0.6s, transform 0.3s;

      }

      &::before {
        top: 6px;
      }

      &::after {
        top: -6px;
      }
    }

    &--close {
      > span {
        transition: background 0.3s;
        background: transparent;

        &:before,
        &:after {
          transition: top 0.3s, transform 0.3s 0.5s;
          top: 0;
        }

        &:before {
          transform: rotate3d(0, 0, 1, 45deg);
        }

        &:after {
          transform: rotate3d(0, 0, 1, -45deg);
        }
      }
    }
  }
}

@include respond-to("medium") {
  .main-nav {
    @include clearfix;

    position: relative;

    &__toggle {
      display: none;
    }

    &__list {
      display: block;

      font-size: 0;

      &--left {
        position: absolute;
        top: 89px;

        a {
          padding-top: 20px;
          padding-right: 34px;
          padding-bottom: 20px;
          padding-left: 0;

          font-size: $font-size--text;
        }
      }

      &--right {
        float: right;
        width: auto;
        max-width: 540px;

        li {
          border-left: $border-main;
        }
      }
    }

    &__item {
      display: inline-block;

      vertical-align: top;

      border: none;

      &--sub-menu {
        display: none;
      }
    }

    &__link {
      padding-top: 32px;
      padding-bottom: 32px;

      &--label {
        padding-top: 25px;
        padding-left: 76px;
        padding-bottom: 23px;
      }
    }

    &__icon-search {
      left: 33px;
      top: 33px;
    }

    &__input {
      width: 1px;               /// если ширина 0, то :focus в Safari не работает;
      margin-right: 5px;

      font-weight: 400;

      transition: width 0.5s;

      &:focus {
        width: 170px;
        padding-right: 5px;
        padding-bottom: 8px;

        border-bottom: $border-button;
      }
    }
  }
}

@include respond-to ("large") {
  .main-nav {

    &__list {

      &--left {
        top: 0;
        width: 450px;

        a {
          padding-top: 32px;
          padding-bottom: 32px;
          font-size: $font-size;
        }

        li:nth-child(2) {
          border-left: $border-main;
        }

        li:nth-child(2n) {  /// Такое плохо? Или модификатор?

          a {
            padding-left: 34px;
          }
        }
      }
    }

    &__item {

      &--sub-menu {
        display: inline-block;

        a {
          padding-top: 20px;
          padding-right: 34px;
          padding-bottom: 20px;
          padding-left: 0;

          font-size: $font-size--text;
        }
      }
    }
  }
}
