.mishka-logo {
  position: relative;
  z-index: 1;

  padding: 20px 0;

  font-size: 0;
  text-align: center;

  border-top: $border-main;
  border-bottom: $border-main;

  @include respond-to("medium") {
    padding: 25px 0;

    border-top: 0;
    border-bottom: 0;

    text-align: left;
  }

  @include respond-to("large") {
    order: 2;
  }
}
