.mishka-logo {
  position: relative;
  z-index: 1;

  padding: 20px 0;

  font-size: 0;
  text-align: center;

  border-top: $border-main;
  border-bottom: $border-main;

  @include respond-to("medium") {
    padding: 0;

    align-self: center;

    border-top: 0;
    border-bottom: 0;

    text-align: left;
  }

  @include respond-to("large") {
    order: 2;
    align-self: flex-start;
    padding: 20px 0;
  }
}
