.page-header {
  text-align: center;

  background: $white;
  color: $black;

  @include respond-to("medium") {
    border-bottom: $border-second;
  }

  &__container {
    @include container;
    padding: 0;
    width: 100%;

    @include respond-to("medium") {
      position: relative;

      padding: 0 30px;
    }
  }

  &__delivery {
    display: none;

    padding: 20px 0;

    font-size: $font-size--text;

    color: $gray--darken;

    @include respond-to("medium") {
      position: absolute;
      right: 30px;

      display: block;
    }
  }
}
