.page-content {

  &__title {
    margin: 0;
    margin-bottom: 30px;
    padding-top: 70px;
    padding-bottom: 75px;

    text-align: center;

    background: $gray--light;
  }

  &__container {
    @include container;

    padding: 0;
  }

  &__description {
    margin: 0;
    margin-bottom: 30px;
  }
}

@include respond-to("medium") {
  .page-content {

    &__container {
      padding: 0 30px;
    }

    &__title {
      padding-top: 90px;
      padding-bottom: 85px;
      margin-bottom: 80px;
    }
  }
}

@include respond-to("large") {
  .page-content {

    &__title {
      padding-bottom: 105px;
      margin-bottom: 130px;
    }
  }
}
