.page-content {

  &__title {
    margin: 0;
    margin-bottom: 30px;
    padding-top: 70px;
    padding-bottom: 75px;

    text-align: center;

    background: $gray--light;

    @include respond-to("medium") {
      padding-top: 90px;
      padding-bottom: 85px;
      margin-bottom: 80px;

      border-top: $border-main;
      margin-top: -61px;
    }

    @include respond-to("large") {
      padding-bottom: 105px;
      margin-bottom: 130px;
    }

    &--inner {
      padding-top: 75px;
      padding-bottom: 85px;
      margin-bottom: 25px;

      @include respond-to("medium") {
        padding-top: 90px;
        margin-bottom: 70px;
      }

      @include respond-to("large") {
        padding-bottom: 105px;
        margin-bottom: 125px;
      }
    }
  }

  &__container {
    @include container;

    padding: 0;

    @include respond-to("medium") {
      padding: 0 30px;
    }
  }

  &__description {
    margin: 0;
    margin-bottom: 20px;

    @include respond-to("medium") {
      margin-bottom: 7px;

      span {
        width: 100%;
        display: inline-block;

        vertical-align: baseline;
      }
    }

    @include respond-to("large") {
      padding-left: 175px;
    }
  }
}
