.page-footer {
  background: $gray--light;

  &__container {
    @include container;

    padding: 0;

    @include respond-to("medium") {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 30px;
    }
  }

  &__logo {
    display: none;

    @include respond-to("medium") {
      display: block;
      width: 167px;

      font-size: 0;
    }
  }

  &__mishka {
    fill: $black;

    @include respond-to("medium") {

      &:hover {
        fill: $color-success;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }

  &__copyright {
    padding-top: 25px;
    padding-bottom: 23px;
    white-space: nowrap;

    text-align: center;

    @include respond-to("medium") {
      padding: 0;
    }

    p {
      margin: 0;

      font-size: ($font-size--button + 2);
      line-height: 1;
      font-weight: 700;

      @include respond-to("medium") {

        &:hover .page-footer__ha-logo {
          fill: #46c1ae;
        }

        &:active {
          opacity: 0.3;
        }
      }
    }

    a {
      display: inline-block;
      margin-left: 20px;
      width: 25px;
      height: 34px;

      font-size: 0;

      vertical-align: middle;

      fill: $green;

      @include respond-to("medium") {
        margin-left: 35px;
      }
    }
  }
}
