.page-content {
  outline: 1px solid black;
}

.page-content__title {
  margin: 0;
  margin-bottom: 30px;
  padding-top: 75px;
  padding-bottom: 80px;

  font-size: 24px;
  line-height: 30px;
  font-family: $font-verdana;
  text-align: center;

  color: $black;
  background: $gray--light;

  outline: 1px solid blue;
}

.page-content__container {
  width: 260px;
  margin: 0 auto;
  padding: 0 30px;

  outline: 1px solid blue;
}
