.page-footer {
  background: $gray--light;

  &__container {
    @include container;

    padding: 0;
  }

  &__logo {
    display: none;
  }

  &__copyright {
    padding: 20px 0;

    text-align: center;

    p {
      margin: 0;

      font-size: $font-size--button;
      line-height: 1;
      font-weight: 700;
    }

    a {
      display: inline-block;
      margin-left: 35px;
      width: 35px;
      height: 45px;

      font-size: 0;

      vertical-align: middle;

      background: url("../img/htmlacademy.svg") no-repeat center;
    }
  }
}

@include respond-to("medium") {
  .page-footer {

    &__container {
      @include clearfix;

      padding: 30px;
    }

    &__logo {
      font-size: 0;
      display: block;
      position: static;
      float: left;
      width: 167px;
      margin-right: 80px;

      padding: 27px 0;
    }

    &__copyright {
      float: right;
      width: 190px;
    }
  }
}

@include respond-to("large") {
  .page-footer {

    &__logo {
      margin-right: 275px;
    }
  }
}
