.page-header {

  &__container {
    width: 100%;
    padding: 0;

    @include respond-to("medium") {
      @include container;

      display: flex;
      flex-wrap: wrap;

    }
  }

  &__delivery {
    display: none;

    padding: 18px 0;

    font-size: $font-size--text;

    color: $gray--darken;

    @include respond-to("medium") {
      display: block;
      margin-left: auto;
      margin-top: -61px;
      z-index: 4;
    }
  }
}
