.page-content {

  &__title {
    margin: 0;
    margin-bottom: 30px;
    padding-top: 65px;
    padding-bottom: 75px;

    text-align: center;

    background: $gray--light;

    @include respond-to("medium") {
      position: relative;

      padding-top: 90px;
      padding-bottom: 85px;
      margin-bottom: 80px;

      border-top: $border-main;
      margin-top: -61px;

      &::after {
        content: "";

        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        display: block;
        width: 100%;
        height: 20px;

        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1150' height='34' viewBox='0 0 1150 34'%3E%3Cpath fill='%23FFF' d='M1121.252 0c-14.375 0-14.375 14-28.75 14s-14.373-14-28.747-14-14.374 14-28.748 14c-14.375 0-14.375-14-28.75-14-14.374 0-14.374 14-28.748 14S963.134 0 948.76 0s-14.373 14-28.748 14-14.375-14-28.75-14-14.373 14-28.748 14-14.375-14-28.75-14c-14.37 0-14.37 14-28.743 14-14.374 0-14.374-14-28.75-14-14.37 0-14.37 14-28.743 14-14.374 0-14.374-14-28.747-14s-14.373 14-28.747 14C675.66 14 675.66 0 661.287 0c-14.374 0-14.374 14-28.748 14-14.376 0-14.376-14-28.752-14-14.374 0-14.374 14-28.748 14S560.666 0 546.292 0s-14.374 14-28.748 14S503.17 0 488.796 0c-14.375 0-14.375 14-28.75 14-14.376 0-14.376-14-28.753-14-14.375 0-14.375 14-28.75 14s-14.375-14-28.75-14c-14.376 0-14.376 14-28.75 14S330.665 0 316.29 0s-14.374 14-28.75 14-14.376-14-28.753-14c-14.374 0-14.374 14-28.747 14-14.375 0-14.375-14-28.75-14s-14.375 14-28.75 14C158.16 14 158.16 0 143.784 0c-14.377 0-14.377 14-28.755 14-14.378 0-14.378-14-28.756-14S71.896 14 57.518 14c-14.38 0-14.38-14-28.76-14S14.38 14 0 14v20h1150V14c-14.374 0-14.374-14-28.748-14z'/%3E%3C/svg%3E");
        background-repeat: repeat-x;
      }
    }

    @include respond-to("large") {
      padding-bottom: 105px;
      margin-bottom: 130px;
    }

    &--inner {
      padding-top: 75px;
      padding-bottom: 80px;
      margin-bottom: 25px;

      @include respond-to("medium") {
        padding-top: 90px;
        margin-bottom: 75px;
      }

      @include respond-to("large") {
        padding-bottom: 105px;
        margin-bottom: 125px;
      }
    }
  }

  &__container {
    @include container;

    padding: 0;

    @include respond-to("medium") {
      padding: 0 30px;
    }
  }

  &__description {
    margin: 0;
    margin-bottom: 20px;

    @include respond-to("medium") {
      margin-bottom: 7px;

      span {
        width: 100%;
        display: inline-block;

        vertical-align: baseline;
      }
    }

    @include respond-to("large") {
      padding-left: 175px;
    }
  }
}
