.pagination {
  margin-bottom: 40px;
  font-size: 0;

  &__button {
    display: inline-block;
    width: 130px;
    height: 50px;

    vertical-align: top;
    white-space: nowrap;

    border: $border-main;

    cursor: pointer;

    &:first-child {
      border-right: none;
    }

    &--prev {
      background: url("../img/icon-left-arrow.svg") no-repeat center;
    }

    &--next {
      background: url("../img/icon-right-arrow.svg") no-repeat center;
    }
  }
}

@include respond-to("medium") {
  .pagination {
    position: absolute;
    bottom: 100px;
    right: 0;

    margin-bottom: 0;

    &__button {
      width: 88px;
      border: none;
    }
  }
}
