.pagination {
  margin-bottom: 40px;
  font-size: 0;

  @include respond-to("medium") {
    position: absolute;
    bottom: 100px;
    right: 0;

    margin-bottom: 0;
  }

  &__button {
    display: inline-block;
    width: 130px;
    height: 50px;

    vertical-align: top;
    white-space: nowrap;

    border: $border-main;

    cursor: pointer;

    &:first-child {
      border-right: none;
    }

    @include respond-to("medium") {
      width: 88px;
      border: none;

      &:hover .pagination__icon {
        fill: #666666;
      }

      &:active .pagination__icon {
        fill: #b2b2b2;
      }
    }
  }

  &__icon {
    display: inline-block;
    width: 50px;
    height: 26px;
    margin-top: 12px;

    vertical-align: baseline;

    fill: $black;
  }
}
