.popular-goods {
  background-color: $white;
  color: $black;

  @include respond-to("medium") {
    position: relative;
    padding-bottom: 60px;

    text-align: left;

    &::before {
      content: "";

      position: absolute;
      top: -15px;
      left: 0;
      right: 0;

      display: block;
      width: 100%;
      height: 30px;

      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1150' height='34' viewBox='0 0 1150 34'%3E%3Cpath fill='%23FFF' d='M1121.252 0c-14.375 0-14.375 14-28.75 14s-14.373-14-28.747-14-14.374 14-28.748 14c-14.375 0-14.375-14-28.75-14-14.374 0-14.374 14-28.748 14S963.134 0 948.76 0s-14.373 14-28.748 14-14.375-14-28.75-14-14.373 14-28.748 14-14.375-14-28.75-14c-14.37 0-14.37 14-28.743 14-14.374 0-14.374-14-28.75-14-14.37 0-14.37 14-28.743 14-14.374 0-14.374-14-28.747-14s-14.373 14-28.747 14C675.66 14 675.66 0 661.287 0c-14.374 0-14.374 14-28.748 14-14.376 0-14.376-14-28.752-14-14.374 0-14.374 14-28.748 14S560.666 0 546.292 0s-14.374 14-28.748 14S503.17 0 488.796 0c-14.375 0-14.375 14-28.75 14-14.376 0-14.376-14-28.753-14-14.375 0-14.375 14-28.75 14s-14.375-14-28.75-14c-14.376 0-14.376 14-28.75 14S330.665 0 316.29 0s-14.374 14-28.75 14-14.376-14-28.753-14c-14.374 0-14.374 14-28.747 14-14.375 0-14.375-14-28.75-14s-14.375 14-28.75 14C158.16 14 158.16 0 143.784 0c-14.377 0-14.377 14-28.755 14-14.378 0-14.378-14-28.756-14S71.896 14 57.518 14c-14.38 0-14.38-14-28.76-14S14.38 14 0 14v20h1150V14c-14.374 0-14.374-14-28.748-14z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: cover;

      @include respond-to("large") {
        top: -20px;
      }
    }


    @include respond-to("large") {
      margin-bottom: 5px;
      padding-bottom: 20px;
    }
  }

  &__container {
    @include container;

    padding: 0;

    @include respond-to("medium") {
      padding: 0 30px;
    }
  }

  &__title {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 25px;
    padding-top: 30px;

    @include respond-to("medium") {
      padding-top: 40px;
      margin-bottom: 45px;

      align-items: center;
    }

    @include respond-to("large") {
      transform: translateY(125px);

      margin-bottom: 15px;

      padding-top: 0;
    }
  }

  &__title-main {
    margin-bottom: 5px;
    width: 100%;
    flex-grow: 1;

    font-weight: 700;
    text-align: left;
    white-space: nowrap;

    @include respond-to("medium") {
      width: 500px;
      margin-bottom: 0;

      white-space: normal;
    }

    @include respond-to("large") {
      order: 1;
    }
  }

  &__title-note {
    font-size:  $font-size;
    font-family: $font-open-sans;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;

    color: $green--dark;

    @include respond-to("medium") {
      width: 115px;
      padding: 15px 0;
      padding-bottom: 10px;

      text-align: center;
    }

    @include respond-to("large") {
      width: 175px;
      padding: 0 45px;
    }
  }

  &__wrapper {

    @include respond-to("medium") {
      @include clearfix;
    }

    @include respond-to("large") {
      margin-bottom: 70px;
    }
  }

  &__column-left {

    @include respond-to("medium") {
      float: left;
      width: 50%;
      clear: left;
    }

    @include respond-to("large") {
      padding-left: 175px;
    }
  }

  &__description {
    margin-top: 0;
    margin-bottom: 20px;

    text-align: left;

    @include respond-to("medium") {
      padding-right: 50px;
      margin-bottom: 35px;
    }

    @include respond-to("large") {
      margin-top: 160px;
      margin-bottom: 50px;
    }
  }

  &__detail {
    width: 100%;
    margin-bottom: 25px;

    text-align: left;

    border-collapse: collapse;

    td {
      padding: 10px;
      padding-right: 20px;
      padding-left: 0;

      font-size: $font-size--text;
      line-height: 1.4285;
      font-family: $font-open-sans;

      color: $gray--darken;

      border-bottom: $border-main;
    }

    @include respond-to("medium") {
      width: 86.8%;
      margin-bottom: 50px;

      td {
        font-size: ($font-size--text + 1);
      }
    }

    @include respond-to("large") {
      width: 290px;
      margin-bottom: 100px;
    }
  }

  &__photo {
    height: 315px;
    margin-bottom: 25px;
    text-align: center;

    @include respond-to("medium") {
      float: right;
      width: 334px;
      height: 403px;
      margin-top: 10px;
      margin-bottom: 0;

      background: $gray--light;
    }

    @include respond-to("large") {
      height: 634px;
      width: 525px;
      margin-top: 0;
    }
  }

  &__price {
    margin-bottom: 25px;

    font-size: $font-size;
    font-weight: 700;
    text-align: center;

    color: $gray--darken;

    @include respond-to("medium") {
      padding-left: 70px;
      margin-bottom: 30px;

      font-size: ($font-size + 2);
      text-align: left;
    }
  }

  &__button {
    width: 260px;
    margin-bottom: 35px;

    @include respond-to("medium") {
      width: 290px;
      margin-bottom: 0;
    }
  }
}
