.promo {
  text-align: center;

  background: $gray--light url("../img/hero-mobile@1x.jpg") no-repeat center top;

  &__container {
    @include container;
    padding: 0;
    width: 100%;

    @include respond-to("medium") {
      padding: 0 30px;
    }
  }

  &__title {
    padding: 30px;
    padding-top: 90px;
    padding-bottom: 125px;
    margin: 0;

    text-align: center;

    @include respond-to("medium") {
      width: 668px;
      margin: 0 auto;
      padding-top: 150px;
      padding-bottom: 375px;
    }

    @include respond-to("large") {
      width: 700px;
      padding-top: 150px;
      padding-bottom: 360px;
    }
  }
}
