.promo {
  position: relative;
  text-align: center;
  background-color: $gray--lighten;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;

  @include respond-to("mobile-only") {
    @include respond-to("retina") {
      background-size: 575px auto;
      background-image: url("../img/hero-mobile@2x.jpg");
    }
  }

  @include respond-to("medium") {
    border-top: $border-main;
    margin-top: -61px;
    background-size: 1150px auto;

    @include respond-to("retina") {
    background-image: url("../img/hero-mobile@2x.jpg");
  }
  }

  @include respond-to("large") {
    background-image: url("../img/hero-desktop@1x.jpg");

    @include respond-to("retina") {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }

  @include wavy-line;

  &__container {
    @include container;
    padding: 0;
    width: 100%;

    @include respond-to("medium") {
      padding: 0 30px;
    }
  }

  &__title {
    padding: 30px;
    padding-top: 88px;
    padding-bottom: 123px;
    margin: 0;
    text-align: center;

    @include respond-to("medium") {
      width: 668px;
      margin: 0 auto;
      padding-top: 150px;
      padding-bottom: 375px;
    }

    @include respond-to("large") {
      width: 700px;
      padding-top: 150px;
      padding-bottom: 360px;
    }
  }
}
