.promo {
  text-align: center;

  background: $gray--light url("../img/hero-mobile@1x.jpg") no-repeat center top;
}

.promo__container {
  width: 320px;
  margin: 0 auto;
}

.promo__title {
  padding: 30px;
  padding-top: 90px;
  padding-bottom: 120px;
  margin: 0;

  font-size: $fs-main + 8;
  line-height: $lh-main + 6;
  font-family: $font-verdana;
  font-weight: 700;
  text-align: center;
  white-space: pre-line;

  color: $black;
}
