.promo {
  text-align: center;

  background: $gray--light url("../img/hero-mobile@1x.jpg") no-repeat center top;

  &__container {
    @include container;
    padding: 0;
  }

  &__title {
    padding: 30px;
    padding-top: 90px;
    padding-bottom: 125px;
    margin: 0;

    text-align: center;
  }
}
