.reviews {
  position: relative;

  text-align: center;

  @include wavy-line;

  @include respond-to("medium") {
    padding-bottom: 80px;


    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 top;
    background-size: 350px 457px;

    @include respond-to("retina") {
      background-image: url("../img/review@2x.jpg");
    }
  }

  @include respond-to("large") {
    margin-bottom: 10px;

    background: none;
  }

  &__container {
    @include container;

    padding: 0;

    @include respond-to("medium") {
      position: relative;
      padding: 0 30px;
    }

    @include respond-to("large") {
      background-image: url("../img/review@1x.jpg");
      background-repeat: no-repeat;
      background-position: left 30px top;
      background-size: contain;

      @include respond-to("retina") {
        background-image: url("../img/review@2x.jpg");

      }
    }
  }

  &__title {
    margin: 0;
    padding-top: 33px;
    padding-bottom: 25px;

    text-align: left;

    @include respond-to("medium") {
      padding-top: 75px;
      padding-bottom: 30px;
      margin-bottom: 20px;
    }

    @include respond-to("large") {
      padding-top: 65px;
      padding-left: 175px;
      padding-right: 175px;
    }
  }

  &__list {

    @include respond-to("medium") {
      position: relative;
    }
  }

  &__item {
    margin: 0;
    margin-bottom: 35px;

    text-align: left;

    p {
      margin: 0;
      margin-bottom: 15px;

      line-height: 2.14286;
    }

    cite {
      display: block;

      font-style: normal;
      font-size: $font-size--text;
      font-weight: 700;

      color: $black;

    }

    a {
      font-size: $font-size--text;
      line-height: 2.14286;
      font-family: $font-open-sans;
      text-decoration: none;

      color: $gray--darken;
    }

    @include respond-to("medium") {
      padding-bottom: 95px;
      margin-bottom: 0;

      p {
        margin-bottom: 10px;

        line-height: 1.875;
      }

      cite {
        display: block;
        padding-bottom: 5px;

        font-size: ($font-size--text + 2);
        line-height: 1.5;
      }

      a {
        font-size: ($font-size--text + 2);
        line-height: 1.875;
      }
    }

    @include respond-to("large") {
      padding-left: 175px;
      padding-right: 175px;
    }
  }

  &__button {
    padding-left: 84px;
    padding-right: 84px;
    margin-bottom: 45px;

    @include respond-to("medium") {
      position: absolute;
      top: 75px;
      right: 30px;

      padding-left: 42px;
      padding-right: 42px;
    }
  }
}
