.social {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 25px;

  list-style: none;
  font-size: 0;
  text-align: center;

  border-bottom: $border-second;

  @include respond-to("medium") {
    float: left;
    width: 167px;
    padding: 30px 0;

    border: none;
  }

  li {
    display: inline-block;
    margin-right: 35px;

    vertical-align: top;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    width: 25px;
    height: 30px;

    &--inst {
      background: url("../img/icon-insta.svg") no-repeat center;
    }

    &--fb {
      background: url("../img/icon-fb.svg") no-repeat center;
    }

    &--tw {
      background: url("../img/icon-twitter.svg") no-repeat center;
    }
  }
}
