.social {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 25px;

  list-style: none;
  font-size: 0;
  text-align: center;

  border-bottom: $border-second;

  @include respond-to("medium") {
    float: left;
    width: 167px;
    padding: 30px 0;

    border: none;
  }

  li {
    display: inline-block;
    margin-right: 40px;

    vertical-align: middle;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {

    @include respond-to("large") {

      &:hover {
        fill: $green;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }

  &__icon {

    &--insta {
      width: 22px;
      height: 21px;
    }

    &--fb {
      width: 15px;
      height: 29px;
    }

    &--tw {
      width: 24px;
      height: 20px;
    }

  }
}
