.sub-nav {
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: left;

  @include respond-to("medium") {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;

    &::after {
      content: "";

      position: absolute;
      top: 23px;
    }

    &--interior {
      background-color: $green;

      &::after {
        right: 30px;
        width: 40px;
        height: 62px;

        background-image: url("../img/icon-interior.svg");
      }
    }

    &--toys {
      background-color: $green--dark;

      &::after {
        right: 20px;
        width: 60px;
        height: 60px;
        background-image: url("../img/icon-toy.svg");
      }
    }

    a {
      display: inline-block;
      width: 100%;
      padding: 30px;
      padding-top: 25px;
      padding-right: 60%;
      box-sizing: border-box;

      font-size: $font-size--button;
      font-family: $font-tahoma;
      font-weight: 700;
      line-height: 1.3333;
      text-decoration: none;

      color: $white;
    }

    @include respond-to("medium") {
      width: 50%;

      a {
        padding-top: 30px;
        padding-left: 35px;

        font-size: $font-size--button + 2;
        line-height: 1.5;
      }
    }
  }
}
