.video-content {
  margin-bottom: 60px;

  border: $border-main;

  @include respond-to("medium") {
    position: relative;
    padding-top: 455px;
    margin-bottom: 65px;
  }

  @include respond-to("large") {
    @include clearfix;

    padding-top: 0;
    margin-bottom: 100px;
  }

  &__title {
    position: relative;

    padding: 25px;
    padding-top: 20px;
    padding-left: 90px;
    margin: 0;

    &::before {
      content: "";

      position: absolute;
      top: 35px;
      left: 30px;

      width: 35px;
      height: 25px;

      background: url("../img/icon-video.svg") no-repeat center;
    }

    @include respond-to("medium") {
      padding-top: 35px;
      padding-left: 105px;

      &::before {
        left: 40px;
      }
    }

    @include respond-to("large") {
      float: right;
      width: 34.9%;
      padding-top: 95px;
      padding-right: 145px;
      padding-bottom: 30px;
      padding-left: 77px;

      &::before {
        top: 45px;
        left: 77px;
      }
    }
  }

  &__frame {
    width: 258px;
    height: 150px;
    margin: 0 auto;

    background-color: $gray--light;
    background-image: url("../img/video-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @include respond-to("retina") {
      background-image: url("../img/video-mobile@2x.jpg");
    }

    iframe {
      width: 260px;
      height: 150px;

      border: none;

      @include respond-to("medium") {
        width: 668px;
        height: 455px;
      }
    }

    @include respond-to("medium") {
      position: absolute;
      top: 0px;
      width: 100%;
      height: 455px;

      border-bottom: $border-main;

      background-image: url("../img/video-tablet@1x.jpg");

      @include respond-to("retina") {
        background-image: url("../img/video-tablet@2x.jpg");
      }
    }

    @include respond-to("large") {
      float: left;
      width: 682px;
      position: static;

      background-image: url("../img/video-desktop@1x.jpg");

      @include respond-to("retina") {
        background-image: url("../img/video-desktop@2x.jpg");
      }
    }
  }

  &__description {
    margin-bottom: 30px;
    text-align: center;

    @include respond-to("medium") {
      margin-bottom: 45px;
    }

    @include respond-to("large") {
      float: right;
      width: 34.9%;
    }
  }

  &__teaser {
    margin: 0;
    padding-top: 25px;
    padding-right: 20px;
    padding-bottom: 25px;
    padding-left: 35px;

    text-align: left;

    @include respond-to("medium") {
      padding-top: 10px;
      padding-left: 40px;
      padding-bottom: 30px;
    }

    @include respond-to("large") {
      padding-top: 5px;
      padding-left: 77px;
      margin-bottom: 15px;
    }
  }

  &__button {
    padding-left: 25px;
    padding-right: 25px;

    @include respond-to("medium") {
      width: 87.5%;
    }

    @include respond-to("large") {
      width: 62.5%;
      margin-left: 20px;
    }
  }
}
