.video-content {
  position: relative;
  margin-bottom: 60px;
  border: $border-main;

  @include respond-to("medium") {
    margin-bottom: 65px;
    border: 0;
  }

  @include respond-to("large") {
    display: flex;
    justify-content: flex-start;

    padding-top: 0;
    margin-bottom: 100px;
  }

  &__frame {
    position: relative;

    width: 258px;
    height: 150px;
    margin: 0 auto;
    margin-top: 95px;

    background-color: $gray--light;
    background-image: url("../img/video-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @include respond-to("mobile-only") {
      @include respond-to("retina") {
        background-image: url("../img/video-mobile@2x.jpg");
      }
    }

    @include respond-to("medium") {
      width: 100%;
      height: 455px;
      margin-top: 0;

      border-bottom: $border-main;

      background-image: url("../img/video-tablet@1x.jpg");

      @include respond-to("retina") {
        background-image: url("../img/video-tablet@2x.jpg");
      }
    }

    /*&::before {
      content: "";

      position: absolute;
      top: 50%;
      left: 50%;

      width: 101px;
      height: 77px;

      margin-top: -38px;
      margin-left: -50px;

      background-image: url("../img/icon-play.svg");
      background-repeat: no-repeat;
    }
*/
    iframe {
      width: 260px;
      height: 150px;

      border: none;

      @include respond-to("medium") {
        width: 668px;
        height: 455px;
      }

      @include respond-to("large") {
        width: 682px;
      }
    }

    @include respond-to("large") {
      width: 682px;

      background-image: url("../img/video-desktop@1x.jpg");

      @include respond-to("retina") {
        background-image: url("../img/video-desktop@2x.jpg");
      }
    }
  }

  &__play {
    position: absolute;
    top: 50%;
    left: 50%;

    margin-top: -38px;
    margin-left: -52px;

    background-color: transparent;
    outline: none;
    border: none;

    &:hover {
      transform: scale(1.2);
    }

    &:active {
      transform: scale(0.8);
      opacity: 0.3;
    }
  }

  &__description {
    margin-bottom: 30px;
    text-align: center;

    @include respond-to("medium") {
      margin-bottom: 45px;

      border: $border-main;
    }

    @include respond-to("large") {
      margin-bottom: 0;
      width: 368px;

      &:hover {
        box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.1);
      }

      &:active {
        box-shadow: 0 6px 10px 2px rgba(0, 0, 0, 0.1);
      }
    }
  }

  &__title {
    position: absolute;
    top: 0;
    left: 0;

    text-align: left;

    padding: 25px;
    padding-top: 25px;
    padding-left: 90px;
    margin: 0;

    @include respond-to("medium") {
      position: relative;
      padding-top: 35px;
      padding-left: 105px;
    }

    @include respond-to("large") {
      padding-top: 95px;
      padding-right: 145px;
      padding-bottom: 30px;
      padding-left: 77px;
    }
  }

  &__icon {
    position: absolute;
    top: 30px;
    left: 30px;

    width: 35px;
    height: 30px;

    fill: $green;

    @include respond-to("medium") {
      left: 40px;
    }

    @include respond-to("large") {
      top: 45px;
      left: 77px;
    }
  }

  &__teaser {
    margin: 0;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 35px;

    text-align: left;

    @include respond-to("medium") {
      padding-top: 10px;
      padding-left: 40px;
      padding-bottom: 35px;
    }

    @include respond-to("large") {
      padding-top: 5px;
      padding-left: 77px;
      margin-bottom: 10px;
    }
  }

  &__button {
    width: 192px;

    @include respond-to("medium") {
      width: 87.5%;
      margin-bottom: 45px;
    }

    @include respond-to("large") {
      width: 62.5%;
      margin-left: 20px;
    }
  }
}
