.video-content {
  margin-bottom: 60px;

  border: $border-main;

  &__title {
    position: relative;

    padding: 25px;
    padding-top: 20px;
    padding-left: 90px;
    margin: 0;

    &::before {
      content: "";

      position: absolute;
      top: 35px;
      left: 30px;

      width: 35px;
      height: 25px;

      background: url("../img/icon-video.svg") no-repeat center;
    }
  }

  &__frame {
    width: 258px;
    height: 150px;

    background: url("../img/icon-play.svg") no-repeat center, url("../img/video-mobile@1x.jpg") no-repeat center $gray--light;

    iframe {
      width: 258px;
      height: 150px;

      border: none;
    }
  }

  &__description {
    margin-bottom: 30px;
    text-align: center;
  }

  &__teaser {
    margin: 0;
    padding-top: 25px;
    padding-right: 20px;
    padding-bottom: 25px;
    padding-left: 35px;

    text-align: left;
  }

  &__button {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@include respond-to("medium") {
  .video-content {
    position: relative;
    padding-top: 455px;

    &__title {
      padding-top: 35px;
      padding-left: 105px;

      &::before {
        left: 40px;
      }
    }

    &__frame {
      position: absolute;
      top: 0px;
      width: 100%;
      height: 455px;

      border-bottom: $border-main;
    }

    &__description {
      margin-bottom: 45px;
    }

    &__teaser {
      padding-top: 10px;
      padding-left: 40px;
      padding-bottom: 30px;
    }

    &__button {
      width: 87.5%;
    }
  }
}

@include respond-to("large") {
  .video-content {
    @include clearfix;

    padding-top: 0;

    &__title {
      float: right;
      width: 34.9%;
      padding-top: 90px;
      padding-right: 145px;
      padding-left: 77px;

      &::before {
        top: 45px;
        left: 77px;
      }
    }

    &__frame {
      float: left;
      width: 682px;
      position: static;
    }

    &__description {
      float: right;
      width: 34.9%;
    }

    &__teaser {
      padding-top: 5px;
      padding-left: 77px;
      margin-bottom: 15px;
    }

    &__button {
      width: 62.5%;
      margin-left: 20px;
    }
  }
}
